flickr30k-images/
images_flickr.task2/
mmt_task2/
splits/
*.npy
*.gz
*.zip
*.mat
*.pyc
*.mdl
*.mdl.pyk
*.mdl.pym
std_full/
out_full/
cites/
mmt16_task2_test/
cudnn-8.0-linux-x64-v6.0.tgz
*.tar
*.tgz
attention/
*.rej
